services:
  db:
    image: postgres:15
    deploy:
      resources:
        limits:
          memory: 300M
    container_name: education_db
    restart: always
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    env_file:
      - .env
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}

  web:
    build: ./backend
    deploy:
      resources:
        limits:
          memory: 400M
    container_name: education_backend
    command: python src/manage.py runserver 0.0.0.0:8000
    volumes:
      - ./backend/src:/app/src
      - ./backend/static:/app/static
      - ./backend/media:/app/media
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - db

volumes:
  postgres_data: